body {
  background: #191919;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  background: #191919; /* Background color for the entire calculator */
  color: hsl(202, 11%, 29%);
  max-width: 22rem;
  width: 100%;
  overflow: hidden;
}

.calculator__output {
  background: #191919; /* Background color for the screen */
  color: hsl(255, 100%, 100%); /* Text color for the screen */
  font-size: 4.2rem;
  padding: 3rem 1.25rem 0.5rem;
  text-align: end;
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #191919; /* Matching the keys with the calculator background */
}

.calculator__key {
  background: #191919; /* Key background color */
  color: hsl(255, 100%, 100%); /* Key text color */
  border: none;
  font-size: 1.5rem;
  margin: 0.25rem;
  border-radius: 40px;
  box-shadow: none; /* No shadow for a flatter look */
}

.calculator__key:active,
.calculator__key:focus {
  background: #191919; /* Slightly different color for key press effect */
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.2) inset;
  outline: none;
}

.calculator__key--operator {
  background: #191919; /* Operator key background */
  color: hsl(208, 25%, 86%);
}

.calculator__key--operator:active {
  background: #191919; /* Operator key press effect */
  color: hsl(208, 24%, 80%);
}

.calculator__key--enter {
  background: hsl(357, 100%, 72%); /* Distinct color for the enter key */
  grid-column: 4 / 5;
  grid-row: 2 / span 4;
}
